body{
  background: linear-gradient(90deg, rgba(123,236,105,1) 41%, rgba(98,237,106,1) 64%);
}
.wallBg{
  width: 800px;
  height: 200px;

}
@media only screen and (max-width: 668px) {
  .wallBg{
    width:600px !important;
  }
}
@media only screen and (max-width:991px) {
  .wallBg{
    width:600px !important;
  }
}